<div *ngIf="cannotFetchPrescriptions === false; else errorContainer">

    <h1>Active</h1>

    <div class="prescriptions-container active" *ngFor="let prescription of getActivePrescriptions()" style="">
        <div>
            <p class="prescription-title">{{prescription.drugName}} - {{prescription.dose}}</p>
            <p class="prescription-description">{{prescription.instructions}}</p>
        </div>
       
        <fa-icon [icon]="faInfo" (click)="showMore(prescription)" style="cursor: pointer; font-size: 2em;"></fa-icon>
    </div>

    <h1>Expired</h1>

    <div class="prescriptions-container expired" *ngFor="let prescription of getExpiredPrescriptions()">
        <div>
            <p class="prescription-title">{{prescription.drugName}} - {{prescription.dose}}</p>
            <p class="prescription-description">{{prescription.instructions}}</p>
        </div>
        <fa-icon [icon]="faInfo" (click)="showMore(prescription)" style="cursor: pointer; font-size: 2em;"></fa-icon>
    </div>
</div>


<ng-template #errorContainer>
    <h1>Error</h1>
    <p>Your prescriptions could not be fetched. Please try again later.</p>
</ng-template>