.prescriptions-container {
    border-radius: 10px;
    max-width: 300px;
    padding: 2em;
    margin-bottom: 20px;
}

.active {
    background-color: rgb(54, 226, 54);
}

.expired {
    background-color: rgb(173, 0, 43);
}

.prescription-title {
    font-weight: bold;
}