<div class="modal-header">
    <h5>Create prescription request</h5>
    <button type="button" class="close" (click)="close()">x</button>
</div>

<div class="modal-content">
        
    <mat-card class="form-card" *ngIf="patients == null || patients.length > 0; else noPatientsContainer">
        <mat-card-content>

            <form [formGroup]="prescriptionRequestForm" >
                
                <mat-form-field>
                    <mat-select placeholder="Patient" formControlName="patientEmail" required>
                        <mat-option *ngFor="let patient of patients" [value]='patient'>{{patient}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Pharmacist" formControlName="pharmacistEmail" required>
                        <mat-option *ngFor="let pharmacist of pharmacists" [value]='pharmacist.email'>{{pharmacist.firstName}} {{pharmacist.lastName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Drug" formControlName="drugName" required>
                        <mat-option *ngFor="let drug of drugs" [value]='drug.drugName'>{{drug.drugName}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <input matInput type="text" placeholder="Dose" formControlName="dose" required>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <input matInput type="text" placeholder="Instructions" formControlName="instructions" required>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="full-width-input">
                    <mat-label>Next pick up</mat-label>
                    <input matInput [matDatepicker]="pickUpPicker" formControlName="nextPickUp">
                    <mat-datepicker-toggle matSuffix [for]="pickUpPicker"></mat-datepicker-toggle>
                    <mat-datepicker #pickUpPicker></mat-datepicker>
                </mat-form-field>

            </form>
        </mat-card-content>
    </mat-card>

    <ng-template #noPatientsContainer>
        <!-- todo: redirect to assign patients page -->
        <p>There are no patients assigned to you.</p>
    </ng-template>
</div>

<div class="modal-footer">
    <button mat-button type="button" class="button" (click)="save()" [disabled]="prescriptionRequestForm?.invalid">Submit request</button>
    <button mat-button type="button" class="button" (click)="close()">Abort</button>
</div>
