<mat-card class="form-card">
  <mat-card-content>
    <h1>Hello There!</h1>

    <form [formGroup]="userFormGroup" (ngSubmit)="logIn()">
        <mat-form-field class="full-width-input">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error>
            Invalid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" minlength="6" required>
            <mat-error>
            Password must be at least 6 characters long
            </mat-error>
        </mat-form-field>

        I'm a 
        <mat-radio-group style="margin-top: 2vh; display: flex; justify-content: space-around;" class="radio-group" formControlName="userType">
           
           <mat-radio-button [value]="UserTypes.Patient" class="radio-button">
              Patient
            </mat-radio-button>

            <mat-radio-button [value]="UserTypes.GP" class="radio-button" >
              GP
            </mat-radio-button>
           
            <mat-radio-button [value]="UserTypes.Pharmacist" class="radio-button">
              Pharmacist
            </mat-radio-button>
        </mat-radio-group>

        <button type="submit" class="button" style="margin-top: 2em; height: 4em" [disabled]="userFormGroup?.invalid">Log in</button>
        
        <div style="margin-top: 2vh">
            Not a member? 
            <a routerLink="/register" class="next-line" routerLinkActive="active">Register</a>
        </div>

    </form>
  </mat-card-content>
</mat-card>