 <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Full name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.firstName}} {{element.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="userType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>User type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
            <mat-cell *matCellDef="let element"> 
                <button class="button" (click)="deleteUser(element)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>