
<mat-card class="form-card">
  <mat-card-content>
    <h1>Register</h1>

    <form [formGroup]="userFormGroup" (ngSubmit)="register()">
        <mat-form-field class="full-width-input">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error>
            Invalid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="First name" formControlName="firstName" required>
            <mat-error>
            The first name is required and it must only contain letters
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Last name" formControlName="lastName" required>
            <mat-error>
              The first name is required and it must only contain letters
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" minlength="6" required>
            <mat-error>
            Password is required and it must be at least 6 characters long
            </mat-error>
        </mat-form-field>

         <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Confirm password" formControlName="passwordConf" minlength="6" required>
            <mat-error>
            Password confirmation doesn't match the original password
            </mat-error>
        </mat-form-field>

         I'm a 
        <mat-radio-group style="margin-top: 2vh; display: flex; justify-content: space-around;" class="radio-group" formControlName="userType">
            <mat-radio-button [value]="UserTypes.GP" class="radio-button" >
              GP
            </mat-radio-button>
            <mat-radio-button [value]="UserTypes.Patient" class="radio-button">
              Patient
            </mat-radio-button>
            <mat-radio-button [value]="UserTypes.Pharmacist" class="radio-button">
              Pharmacist
            </mat-radio-button>
        </mat-radio-group>

        <button type="submit" class="button" style="margin-top: 2em; height: 4em" [disabled]="userFormGroup?.invalid">Register</button>
        
        <div style="margin-top: 2vh">
            Already registered? 
            <a routerLink="/welcome" class="next-line" routerLinkActive="active">Log in</a>
        </div>

    </form>
  </mat-card-content>
</mat-card>