@import 'vars';

.prescriptions-container {
    border-radius: 10px;
    max-width: 250px;
    padding: 1em;
    margin-bottom: 20px;

    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}

.active {
    border: 1px solid grey;
    border-bottom: 5px solid green;
}

.expired {
    border: 1px solid grey;
    border-bottom: 5px solid red;

}

.prescription-title {
    font-weight: bold;
}

fa-icon {
    cursor: pointer;
    font-size: 2em;
    color: $russian-violet;
    fill:red;
    &::before {
        fill:red
    }
    &::content {
        fill: red;
    }
    &::after {
        fill: red;
    }
}
