<nav class="navbar">

    <div class="hamburger-menu-container">   
        <a class="navbar-brand" href="#">
            <div class="brand-logo"></div>
        </a>
    
        <button mat-button class="primary hamburger-menu" (click)="toggleNavbar()">
            <svg viewBox="0 0 100 80" width="40" height="20" >
                <rect width="120" height="15" fill="#efefef"></rect>
                <rect y="30" width="120" height="15" fill="#efefef"></rect>
                <rect y="60" width="120" height="15" fill="#efefef"></rect>
            </svg>
        </button>
    </div>

    <div class="links-container" *ngIf="navbarIsCollapsed === false">
        <div *ngIf="isGP()" class="links-container">
            <button mat-button [routerLink]="['/gp-dashboard']">Prescription requests</button>
            <button mat-button [routerLink]="['/patients']">Patients</button>
        </div>

        <div *ngIf="isPatient()" class="links-container">
            <button mat-button [routerLink]="['/prescriptions']">Prescriptions</button>
            <button mat-button [routerLink]="['/gp-dashboard']">Appointments</button>
        </div>
        <div *ngIf="isPharmacist()" class="links-container">
            <button mat-button [routerLink]="['/pharmacist-dashboard']">Prescription requests</button>
        </div>
        <div *ngIf="isTechnician()" class="links-container">
            <button mat-button [routerLink]="['/technician-dashboard']">Pick ups</button>
        </div>

        <button mat-button class="primary logout" (click)="logOut()">Log out</button>
    </div>
    
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

