
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@include mat-core();
@import 'vars';

$KingCrimsonCwk-primary: mat-palette($mat-indigo);
$KingCrimsonCwk-accent: mat-palette($mat-pink, A200, A100, A400);
$KingCrimsonCwk-warn: mat-palette($mat-red);


$KingCrimsonCwk-theme: mat-light-theme((
  color: (
    primary: $KingCrimsonCwk-primary,
    accent: $KingCrimsonCwk-accent,
    warn: $KingCrimsonCwk-warn,
  )
));



@include angular-material-theme($KingCrimsonCwk-theme);


body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto; 
}

.bodybg-colour {
    background-color: $russian-violet;
}

h1 {
    color: $deep-violet;
}

a {
    text-decoration: none;
    color: $primary-color-light;

    &:hover {
        color: $primary-color-dark;
        font-weight: bold;

    }
}

// Form controls

.button {
    align-items: center;
    border: 1px solid $russian-violet;
    border-radius: 3px;
    color: $primary-color-text;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin-right: 5px;
    transition: .15s color, .15s background-color;
    &:hover {
        background-color: $primary-color-text;
        color: $divider-color;
    }

    &:disabled {
        background-color: $divider-color;
        border: 0;
        cursor: unset;

        &:hover {
            color: $secondary-text-color;
        }
    }
}


.form-card {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 10%;
}

form {
    display: flex;
    flex-direction: column;
}
