
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@include mat-core();

$KingCrimsonCwk-primary: mat-palette($mat-indigo);
$KingCrimsonCwk-accent: mat-palette($mat-pink, A200, A100, A400);
$KingCrimsonCwk-warn: mat-palette($mat-red);

$violet: rgb(135, 2, 176);
$russian-violet: rgb(48, 20, 76);
$deep-violet: rgb(56, 1, 111);
$crimson: rgb(224, 15, 57);
$crimson-glory: rgb(187, 0, 49);
$alabama-crimson: rgb(173, 0, 43);

$primary-color-dark:   $alabama-crimson;
$primary-color:        $crimson-glory;
$primary-color-light:  $crimson;
$primary-color-text:   $deep-violet;
$accent-color:         $russian-violet;
$primary-text-color:   $deep-violet;
$secondary-text-color: $violet;
$divider-color:        #f3f3f3;


$KingCrimsonCwk-theme: mat-light-theme((
  color: (
    primary: $KingCrimsonCwk-primary,
    accent: $KingCrimsonCwk-accent,
    warn: $KingCrimsonCwk-warn,
  )
));



@include angular-material-theme($KingCrimsonCwk-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    color: $russian-violet;
}

a {
    text-decoration: none;
    color: $primary-color-light;

    &:hover {
        color: $primary-color-dark;
        font-weight: bold;

    }
}

// Form controls

.button {
    align-items: center;
    background-color: $primary-color-dark;
    border: 1px solid $primary-color-dark;
    border-radius: 3px;
    color: $primary-color-text;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    height: 30px;
    justify-content: center;
    margin-right: 5px;
    transition: .15s color, .15s background-color;
    width: 100%;

    &:hover {
        background-color: $primary-color-text;
        color: $primary-color-light;
    }

    &:disabled {
        background-color: $divider-color;
        border: 0;
        cursor: unset;

        &:hover {
            color: $primary-color-text;
        }
    }
}


.form-card {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 10%;
}

form {
    display: flex;
    flex-direction: column;
}
